@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  animation: slide-top 0.2s;
}

@keyframes slide-top {
  0% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(0px);
  }
}
